/* Use a consistent color scheme */
body {
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.title {
    color: #555;
    font-size: 2em;
    margin: 20px 0;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-form input[type="text"] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.search-form button[type="submit"] {
    width: 20%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.current-weather_today {
    background-color: #ffffff;
    color: #333333;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 66, 0.655);
}

.current-city {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.current-temp {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

.current-description {
    font-size: 1.2em;
    color: #555;
}

.forecast {
    margin: 20px 0;
}

.forecast h2 {
    color: #555;
    font-size: 1.5em;
    margin: 0 0 20px 0;
}

/* Define a responsive grid layout for the forecast cards */
.forecast-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
}

.forecast-card {
    width: 100%;
    text-align: center;
    background-color: lightskyblue;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.forecast-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.forecast-card img {
    width: 100%;
}

.forecast-card p {
    font-size: 36px;
    margin: 0;
}

/* Use media queries to adjust the font sizes based on the screen size */
@media (max-width: 600px) {
    .current-temp {
        font-size: 36px;
    }

    .current-description {
        font-size: 18px;
    }

    .forecast-card h3 {
        font-size: 18px;
    }

    .forecast-card p {
        font-size: 24px;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .current-temp {
        font-size: 48px;
    }

    .current-description {
        font-size: 24px;
    }

    .forecast-card h3 {
        font-size: 24px;
    }
}

@media (min-width: 801px) {
    .current-temp {
        font-size: 72px;
    }

    .current-description {
        font-size: 36px;
    }
}